# Node modules (se instalarán dentro del contenedor)
node_modules
/.pnp
.pnp.js

# Build local
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configuración del entorno local
.env
.env.local
.env.*.local

# Sistema operativo y editor
.DS_Store
Thumbs.db
.vscode
.idea
*.swp

# Git
.git
.gitignore
README.md